@import "./_btn_projects.less";

#projects {
    margin-top: 4rem;

    .project {
        border-left: 4px solid @linkVisitedColor;
        padding-left: 1rem;
        margin-bottom: 2rem;

        h3 {
            margin: 0;
            font-size: 1.4em;
        }

        p {
            margin: 0.5em 0;
        }

        ul.tech {
            margin: 0.5em 0;
            padding: 0;
            list-style: none;
            display: flex;
            gap: 1em;
            font-size: 0.85em;

            li {
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 0.2em 0.6em;
                border-radius: 4px;
                background: #164e63;
                color: #d1faff;
                font-size: 0.85em;
                text-align: center;
            }
        }

        a {
            font-size: 0.9em;
            font-weight: bold;
            color: @linkColor;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.project {
    display: flex;
    gap: 1rem;

    img {
        width: 120px;
        border-radius: 4px;
    }

    .info {
        flex: 1;
    }

    .button-group {
        display: flex;
        gap: 0.75rem;
        margin-left: auto; // pushes group to the right
    }

}

html.dark #projects ul.tech li,
html.dark_contrast #projects ul.tech li,
html.inverted #projects ul.tech li {
    background: #22d3ee;
    color: #082f49;
}
